<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>docx-converter/tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>docx-converter/tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>docx-converter/src</directory>
        </include>
    </source>
</phpunit>
